@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: alien;
  src: url(./fonts/ttalientzvar.ttf);
  /* font-variation-settings: "DSPL" 500; */
  font-weight: 700;
}

@font-face {
  font-family: human;
  src: url(./fonts/TT\ Alientz\ Serif.ttf);
  font-weight: 700;
}

body {
  height: 100%;
  min-height: 100vh;
  background: radial-gradient(circle at bottom, navy 0, black 100%);

}

.human_text {
  font-family: human;
}

.main_container {
  height: 100%;
  min-height: 100vh;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.space {
  background: rgba(128, 0, 128, 0.1) center / 200px 200px round;
  /* border: 1px dashed purple; */
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.stars1 {
  animation: space 180s ease-in-out infinite;
  background-image: radial-gradient(
      1px 1px at 25px 5px,
      white,
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(1px 1px at 50px 25px, white, rgba(255, 255, 255, 0)),
    radial-gradient(1px 1px at 125px 20px, white, rgba(255, 255, 255, 0)),
    radial-gradient(1.5px 1.5px at 50px 75px, white, rgba(255, 255, 255, 0)),
    radial-gradient(2px 2px at 15px 125px, white, rgba(255, 255, 255, 0)),
    radial-gradient(2.5px 2.5px at 110px 80px, white, rgba(255, 255, 255, 0));
}
.stars2 {
  animation: space 240s ease-in-out infinite;
  background-image: radial-gradient(
      1px 1px at 75px 125px,
      white,
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(1px 1px at 100px 75px, white, rgba(255, 255, 255, 0)),
    radial-gradient(1.5px 1.5px at 199px 100px, white, rgba(255, 255, 255, 0)),
    radial-gradient(2px 2px at 20px 50px, white, rgba(255, 255, 255, 0)),
    radial-gradient(2.5px 2.5px at 100px 5px, white, rgba(255, 255, 255, 0)),
    radial-gradient(2.5px 2.5px at 5px 5px, white, rgba(255, 255, 255, 0));
}
.stars3 {
  animation: space 300s ease-in-out infinite;
  background-image: radial-gradient(
      1px 1px at 10px 10px,
      white,
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(1px 1px at 150px 150px, white, rgba(255, 255, 255, 0)),
    radial-gradient(1.5px 1.5px at 60px 170px, white, rgba(255, 255, 255, 0)),
    radial-gradient(1.5px 1.5px at 175px 180px, white, rgba(255, 255, 255, 0)),
    radial-gradient(2px 2px at 195px 95px, white, rgba(255, 255, 255, 0)),
    radial-gradient(2.5px 2.5px at 95px 145px, white, rgba(255, 255, 255, 0));
}

@keyframes space {
  40% {
    opacity: 0.75;
  }
  50% {
    opacity: 0.25;
  }
  60% {
    opacity: 0.75;
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Slideshow */

.slideshow {
  margin: 0 auto;
  overflow: hidden;
  max-width: 90vw;
  max-height: 90vh;
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
}

.slide {
  display: inline-block;
  height: 800px;
  width: 100%;
  border-radius: 40px;
}

/* Buttons */

.slideshowDots {
  text-align: center;
}

.slideshowDot {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;

  cursor: pointer;
  margin: 15px 7px 0px;

  background-color: black;
}

.slideshowDot.active {
  background-color: white;
}

.layer {
  transform: translate3d(5.8px, -3.7px, 0px);
  transform-style: preserve-3d;
  backface-visibility: hidden;
  position: absolute;
  display: block;
  /* left: -80px; */
  top: 30px;
}
.name_container {
  font-size: 152px;
  transform: translate3d(17.3px, -11px, 0px);
  transform-style: preserve-3d;
  backface-visibility: hidden;
  position: absolute;
  display: block;
  left: 150px;
  top: 80px;
  /* z-index: 1; */
}
.alien_container {
  font-size: 152px;
  transform: translate3d(17.3px, -11px, 0px);
  transform-style: preserve-3d;
  backface-visibility: hidden;
  position: absolute;
  display: block;
  left: 250px;
  top: 80px;
  /* z-index: 1; */
}

.titles__title {
  overflow: hidden;
  position: absolute;
  top: 15;
  transform: translate(0px, -135%);
  border: 1px solid;
  /* z-index: 10; */
}

.trans {
  background: linear-gradient(to bottom, white 50%, rgba(255, 255, 255, 0) 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.trans2 {
  background: linear-gradient(to bottom, white 60%, rgba(255, 255, 255, 0) 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.alien_font {
  font-family: alien;
  text-transform: uppercase;
}

.human_font {
  font-family: human;
  text-transform: uppercase;
}

@keyframes spin3D {
  from {
    transform: rotateY(20deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
.spinblade3D {
  animation-name: spin3D;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  /* linear | ease | ease-in | ease-out | ease-in-out */
  animation-timing-function: ease-in-out;
}

.spinicon3D {
  animation-name: spin3D;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  /* linear | ease | ease-in | ease-out | ease-in-out */
  animation-timing-function: ease-in-out;
}

.element {
  position: absolute;
  top: -40px;
  left: 400px;
  transform: translate(-50%, -100%);
  opacity: 0;
  animation: appear-div 1.5s forwards;
}

.alien {
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translate(-50%, -100%);
  opacity: 0;
  animation: appear-div 2s forwards;
}

.alien-diappear {
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translate(-50%, -100%);
  opacity: 0;
  animation: disappear-div 2s forwards;
}

@keyframes appear-div {
  0% {
    opacity: 0;
    transform: translate(-50%, -100%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

@keyframes disappear-div {
  0% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -100%);
  }
}

.content_human {
  position: absolute;
  bottom: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 100%);
  opacity: 0;
  animation: down-div 1s forwards;
}

.content_human_hide {
  position: absolute;
  bottom: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 100%);
  opacity: 0;
  animation: hide-div 1s forwards;
}

@keyframes hide-div {
  0% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, 100%);
  }
}

.content_genesis {
  position: absolute;
  bottom: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 100%);
  opacity: 0;
  animation: genesis-down-div 5s ease-in-out infinite alternate;
}

@keyframes down-div {
  0% {
    opacity: 0;
    transform: translate(-50%, 100%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

@keyframes genesis-down-div {
  0% {
    opacity: 0;
    transform: translate(-50%, 100%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

.m_scroll_arrows {
  display: block;
  width: 5px;
  height: 5px;
  /* -ms-transform: rotate(45deg); IE 9 */
  /* -webkit-transform: rotate(45deg); Chrome, Safari, Opera */
  /* transform: rotate(-45deg); */

  border-right: 2px solid white;
  border-bottom: 2px solid white;
  /* margin: 0 0 3px 4px; */

  width: 16px;
  height: 16px;
}

.unu,
.doi,
.trei {
  -webkit-animation: mouse-scroll 1s infinite;
  -moz-animation: mouse-scroll 1s infinite;
  animation: mouse-scroll 1s infinite;
}

.unu {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  -webkit-animation-direction: alternate;

  animation-direction: alternate;
  animation-delay: alternate;
}

.doi {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -webkit-animation-direction: alternate;

  animation-delay: 0.2s;
  animation-direction: alternate;
}

.trei {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -webkit-animation-direction: alternate;

  animation-delay: 0.3s;
  animation-direction: alternate;
}

@-o-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/*  */

.blade_appear {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(100%, -50%);
  opacity: 0;
  animation: blade-appear 1s forwards;
}

@keyframes blade-appear {
  0% {
    opacity: 0;
    transform: translate(100%, -50%);
  }
  100% {
    opacity: 1;
    transform: translate(0, -50%);
  }
}
/*  */

.spinner {
  position: absolute;
  width: calc(2048px / 11);
  height: calc(1880px / 9);
  /* top: 50%; */
  right: 0%;
  transform: translate(-50%, -50%);
  animation: playX 2s steps(7) infinite, playY 3s steps(8) infinite;
}

.spinne_blade {
  position: absolute;
  width: calc(2048px / 7);
  height: 312px;
  background-position: center;
  background-size: 312px 312px;
  right: 0;
  animation: spin 1s linear infinite;
  transform-origin: center;
}

@keyframes playX {
  from {
    background-position-x: 0px;
  }
  to {
    background-position-x: -2048px;
  }
}
@keyframes playY {
  from {
    background-position-y: 0px;
  }
  to {
    background-position-y: -1880px;
  }
}

/*  */

.fade-enter {
  opacity: 0;
  transform: translateY(30px);
}

.fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 1s ease-out;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transform: translateY(-30px);
  transition: all 1s ease-out;
}

/*  */
